body{
    background-color:#f9f8fe;
}

.sub-container nav {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

nav .logo-1 {
   width : 30%;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
    width : 20%;
    min-width: 200px;
    padding: 0;
}

.content-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para-content-1{
    /* padding-left: 4%; */
    width: 40%;
    /* margin-top: 100px; */
 }

 .img-1 {
   width: 50%;
 }
.img-1 img{
    display: flex;
    justify-content: end;
   width: 90%;
     
}
.form-content-1 button{
    background-color:blue;
    height: 30px;
    width: 150px;
    border: none;
    color: white;
    font-weight: 700;  
    cursor: pointer;  
}
.form-content-1 input{
    height: 25px;
    width: 200px;
}
button:hover{
    background-color: #6b9bff;

}
.content-2{
    display: flex;
}
.img-2 img{
    display: flex;
    justify-content: end;
   width: 80%;
}
.content-box{
   border-radius: 5px;
   box-shadow: 1px 1px 8px;
   padding: 30px;
   width: 70%;
   height: 30%;
         
}
.para-content-2{
    padding-left: 4%;
    width: 40%;
    margin-top: 100px;
 }
 a{
    color:#7fe7d5;
 }
 .img-icon-1{
    width: 100%;
 }
 .img-icon-2{
   display: none;
 }
 .content-2 .content-box{
    margin-top: 40px;
 }
 .quotes{
   text-align: left;
 }
 .avatar img{
    border-radius: 50%;
    width: 10%;
    height: 10%;
 }
 .avatar{
    display: flex;
 }
 .avatar-content p,h4{
    margin: 0px;
 }
 .avatar-content {
    padding-top: 5px;
    padding-left: 10px;
 }
 .content-3{
    background-color: #575989;
    padding: 30px;
    display: flex;
    color: white;
    /* width: 100%; */
 }
 .para-content-3{
    width: 50%;
    padding-left: 4%;
 }
 .form-content-2 input{
    height: 30px;
    width: 350px;
    border-radius: 3px;
    border: none;
    margin: 20px;

 }
 .form-content-2 button{
    height: 30px;
    width: 40%;
    border-radius: 3%;
    border: none;
    /* margin:4%; */
    margin-left: 4%;
    background-color:blue;
    color: white;
    font-weight: 700;  
    cursor: pointer;
    
 }
 button:hover{
    background-color: #6b9bff;

}
 .content-4{
   background-color: #07043b;
   width: 100%;
 }
 .footer-bar-2{
    display: flex;
    justify-content: space-between;
    /* gap: 200px; */
    
    
 }
 .icon-contact{
    list-style: none;
    color: white;
    
 }
 .about{
    list-style: none;
    color: white;
   
 }
 .contact{
    list-style: none;
    color: white;
    
 }
 .footer-icon{
    color: white;
    border-radius: 10px;
    display: flex;
    
 }
 .logo-2{
    padding-left: 50px;
    padding-top: 30px;
 }
 .icon-contact a{
    color: white;
    
 }
 .about li{
    padding: 10px;
 }
 .footer-icon i{
    padding: 10px;
 }
 .icon-contact li{
    padding: 5px;
 }
 .icon-contact img{
    margin-right: 10px;
 }
 .icon-contact a{
    text-decoration: none;
 }

 @media screen and (max-width:767px) {


   nav .logo-1{
      width : 40%;
      display: flex;
      align-items: center;
   }

   nav .logo-1 img{
      width: 100%;
   }
   nav{
      display: flex;
      justify-content: space-between;
   }
   ul{
      width: 40%;
   }

   .content-1 {
      flex-direction: column-reverse;
      text-align: center;
      gap: 30px;
      align-items: center;
   }

   .para-content-1 {
      width : 60%;
      margin: 0;
      font-size: 12px;
   }

   .img-1 {
      width: 60%;
   }
   .form-content-1 {
      display: flex;
      flex-direction: column;
   } 
   .form-content-1 button{
      height: 30px;
      width: 102%;
      
  }
  .form-content-1 input{
      height: 25px;
      width: 100%;
      margin-bottom: 10px;
  }

   .content-2{
      flex-direction: column-reverse;
      text-align: center;
      gap: 30px;
      align-items: center;

   }
   .para-content-2{
      width : 60%;
      margin: 0;
      font-size: 12px;

   }
   .img-2{
      width: 60%;

   }
   .content-box{
      border-radius: 5px;
      box-shadow: 1px 1px 8px;
      padding: 30px;
      width: 70%;
      height: 30%;
            
   }
   .content-3{
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-top: 30px;
   }
   .para-content-3{
      width : 80%;
      margin: 0;

   }
   .form-content-2 input{
      height: 30px;
      width: 80%;
      border-radius: 3px;
      border: none;
      margin: 10px;
  
   }
   .form-content-2 button{
      height: 30px;
      width: 80%;
      border-radius: 3%;
      border: none;
      margin-right: 4%;
      
    background-color:blue;
    color: white;
    font-weight: 700;  
    cursor: pointer;
   }
   .content-4{
      flex-direction: column;
      text-align: center;
      gap: 30px;
      align-items: center;

   }
   .icon-contact {
      width: 80%;

   }
   .footer-bar-1{
      flex-direction: column;
      text-align: left;
      gap: 30px;
      
   }
   .footer-bar-2{
      flex-direction: column;
      text-align: left;
      gap: 30px;
      
   }
   .footer-icon{
      display: flex;
      justify-content: center;
   }
 }